.container {
  margin: 0 auto;
  background-color: #dedede;
  width: 60em;
}

h1,
h2 {
  font-weight: bold;
}

.contact-details ul li {
  list-style-position: outside;
  margin-left: 40em;
}

.hide {
  display: none;
}

.show {
  display: inline;
}
